TournamentCaster/TournamentCaster/Temp
Riot Games Project/Temp
Riot Games Project/Library/shadercompiler-UnityShaderCompiler.exe1.log
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Assets/AssetStoreTools*
Riot Games Project/Library/assetDatabase3
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Assets/AssetStoreTools*
Riot Games Project/Library
Riot Games Project/Temp/
Riot Games Project/Obj/
Riot Games Project/Build/
Riot Games Project/Builds/
Riot Games Project/Assets/AssetStoreTools*
