TournamentCaster/TournamentCaster/Temp
Riot Games Project/Temp
Riot Games Project/Library/shadercompiler-UnityShaderCompiler.exe1.log
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Assets/AssetStoreTools*
Riot Games Project/Library/assetDatabase3
/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Assets/AssetStoreTools*
Riot Games Project/Library
Riot Games Project/Temp/
Riot Games Project/Obj/
Riot Games Project/Build/
Riot Games Project/Builds/
Riot Games Project/Assets/AssetStoreTools*
TournamentCaster/TournamentCaster/Library
TournamentCaster/TournamentCaster/Temp/
TournamentCaster/TournamentCaster/Obj/
TournamentCaster/TournamentCaster/Build/
TournamentCaster/TournamentCaster/Builds/
TournamentCaster/TournamentCaster/Assets/AssetStoreTools*
TournamentCaster/TournamentCaster/Library
TournamentCaster/TournamentCaster/Library
TournamentCaster/TournamentCaster/Library
GAT 315 Proj 1_b/315 Proj 1b/Library/metadata
TournamentCaster/TournamentCaster/Library/metadata/
GAT 315 Proj 1_b/315 Proj 1b/Temp/
GAT 315 Proj 2/Library/metadata/
GAT 315 Proj 2/Library/ShaderCache/
Gat 315 Proj 3/Temp/Unity*
GAM 400/Library/metadata
GAM 400/Temp/UnityTempFile-d2356456dcbb267418ae7142a8a6d129
GAM 400/Temp/
School/GAT 251/251 Proj 1 - Island/Library/metadata/
School/GAT 251/251 Proj 1 - Island/Library/ShaderCache/
School/GAT 251/251 Proj 1 - Island/Library/metadata/
School/GAT 251/251 Proj 1 - Island/Library
